<div class="container">
    <div class="footer__inner">
        <article class="footer-wrap">
            <h3 class="footer-wrap__title">Các trang</h3>
            <ul class="footer-wrap__list">
                <li class="footer-wrap__item">
                    <a href="#!" class="footer-wrap__link">Giới thiệu</a>
                </li>
                <li class="footer-wrap__item">
                    <a href="#!" class="footer-wrap__link">Tin tức</a>
                </li>
                <li class="footer-wrap__item">
                    <a href="#!" class="footer-wrap__link">Bài viết</a>
                </li>
                <li class="footer-wrap__item">
                    <a href="#!" class="footer-wrap__link">Thành viên</a>
                </li>
                <li class="footer-wrap__item">
                    <a href="#!" class="footer-wrap__link"
                        >Điều khoản và điều kiện</a
                    >
                </li>
                <li class="footer-wrap__item">
                    <a href="#!" class="footer-wrap__link"
                        >Chính sách bảo mật</a
                    >
                </li>
            </ul>
        </article>
        <article class="footer-wrap">
            <h3 class="footer-wrap__title">Thông tin liên hệ</h3>
            <ul class="footer-wrap__list">
                <li class="footer-wrap__item">
                    <a href="tel:0905 114 807" class="footer-wrap__link"
                        >Số điện thoại: <strong>(+84) 905 114 807</strong></a
                    >
                </li>
                <li class="footer-wrap__item">
                    <a
                        href="mailto:hoihuongdanviendulichdanang@gmail.com"
                        class="footer-wrap__link"
                        >Email:
                        <strong
                            >hoihuongdanviendulichdanang@gmail.com</strong
                        ></a
                    >
                </li>
                <li class="footer-wrap__item">
                    <a
                        href="https://maps.app.goo.gl/XUgddSfiqAgi4ui96"
                        target="_blank"
                        class="footer-wrap__link"
                        >Địa chỉ:
                        <strong
                            >Tầng 1, số 97 Phan Châu Trinh - Đà Nẵng</strong
                        ></a
                    >
                </li>
                <li class="footer-wrap__item">
                    <a href="#!" class="footer-wrap__link">FAQ</a>
                </li>
            </ul>
        </article>
        <article class="footer-wrap">
            <h3 class="footer-wrap__title">Theo dỏi chúng tôi</h3>
            <div class="footer-wrap__socials">
                <a href="#!" class="footer-wrap__social-wrap">
                    <img
                        src="./assets/icons/facebook.svg"
                        alt=""
                        class="footer-wrap__social"
                    />
                </a>
                <a href="#!" class="footer-wrap__social-wrap">
                    <img
                        src="./assets/icons/twitter.svg"
                        alt=""
                        class="footer-wrap__social"
                    />
                </a>
                <a href="#!" class="footer-wrap__social-wrap">
                    <img
                        src="./assets/icons/in.svg"
                        alt=""
                        class="footer-wrap__social"
                    />
                </a>
                <a href="#!" class="footer-wrap__social-wrap">
                    <img
                        src="./assets/icons/instagram.svg"
                        alt=""
                        class="footer-wrap__social"
                    />
                </a>
            </div>
        </article>
        <article class="footer-wrap">
            <h3 class="footer-wrap__title">Đăng ký bản tin của chúng tôi</h3>
            <form action="" class="footer-wrap__form">
                <input
                    class="footer-wrap__input"
                    placeholder="Nhập email của bạn"
                    type="email"
                    name=""
                    id=""
                />
                <button class="btn footer-wrap__btn">Đăng ký</button>
            </form>
        </article>
    </div>
    <div class="footer-copyright">
        <div class="footer-copyright__separate"></div>
        <p class="footer-copyright__text">© Copyright 2024 Daddy World Team</p>
    </div>
</div>
