html {
    // Text
    --text-dark: #191b1d;
    --text-gray: #4e5358;
    // Background
    --primary-color-bg: #fff9e5;
    --second-color-bg: #1eb482;
    // Button
    --primary-color-btn: #ff5b26;
    --second-color-btn: #ffc200;
}
