html {
    // Background
    --bg-color: #39c5d757;
    // Text
    --text-dark: #191b1d;
    --text-gray: #4e5358;
    --text-red-pink: #f15d7c;
    --text-blue: #39c5d7;
    // Background
    --primary-color-bg: #fff9e5;
    --second-color-bg: #1eb482;
    // Button
    --primary-color-btn: #f15d7c;
    --second-color-btn: #ffc200;
}
