@forward "./text";
@forward "./button";
@forward "./logo";
@forward "./hero";
@forward "./service";
@forward "./discover";
@forward "./about";
@forward "./partner";
@forward "./video";
@forward "./feedback";
@forward "./new";
@forward "./blog";
@forward "./subscribe";
